<hello name="{{ name }}"></hello>

<h2>Tell us little about your store</h2>
<p>This is initial information about your business</p>

<form>
  <input placeholder="Store Name" />
  <input placeholder="Industry" />
  <p><input type="checkbox" />This store is registered sex offender</p>
  <input placeholder="Company Legal Name" />
  <input placeholder="VAT EU Number" />

  <div>
    <input placeholder="Address" />
    <input placeholder="ZIP code" />
    <input placeholder="City" />
    <input placeholder="Country" />
  </div>

  <a>Go back</a>
  <button>Save and continue</button>
</form>
